.tarzan-h3 {
	font-size: 1.3em;
	color:red;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tarzan-h2 {
	color:red;
	font-size: 1.8em;
}

ul li a {
	color: grey;
}

ul li a:hover , ul li a:visited {
	color:grey;
	text-decoration: underline;
}

.tarzan-thumbnail {
	min-height: 90px;
}

.tarzan-hero {
	color: white;
	margin-right: 1em;
	margin-top: 1em;
	margin-left:.5em;
	font: normal normal 2em/1em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
}

.givespaceabove {
	margin-top: 3em;
}

footer {
	margin-top: 3em;
	background: Silver;	
	padding: 1em;
}

#slideshow-wrapper {
	background: url('mochaGrunge.png');
	margin-top: 1em;
}

div.section_title{
	display: block;
	text-transform: uppercase;
	border-top: 1px dotted silver;
	border-bottom:1px dotted silver;
	padding-top: .2em;
	padding-bottom:.2em;
	width:95%;
	margin-bottom: .5em;
}

div.section_title a{
	color: grey;
	font-size: .9em;
}

div.section_title a:hover{
	color: red;
	text-decoration: none;
}

@media (min-width: 768px) and (max-width: 979px)  {


h1.tarzan-hero {
font-size: 1.4em;
}
}



/*
NEWS
*/

#the_post p{
	font-size: 1.2em;
	line-height: 1.3em;
}

#left-sidebar ul li.active {
	color: red;
	list-style-type: circle;

}

div.one_person {
	display: block;
	width: 220px;
	height: 90px;
	margin-right: 2em;
	float: left;
}

