.tarzan_nav__header{
	font-weight: $weight-bold;
	color: $primary;
}

.tarzan_nav__link{
	color: $grey;
    font-size: 17px;
    padding-top: 3px;
    &:hover{
    	text-decoration: underline;
    }
	&.active{
		color:black;
		font-weight:bold;
	}
}