//////////////////////
// Dots of Carousel //
//////////////////////

/* position dots in carousel */
.flickity-page-dots {
  bottom: 10px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white;
}

.main-carousel{
	background-color:#efefef;
	max-height:480px;
}

.carousel-bg-image{
	width:100%;
	padding-bottom: 40%; 
	background-size: 100%; 
	background-repeat: no-repeat;
}

// Slight border so that white doesn't blend with page
.carousel-bg-image{
  border:1px solid #ececec;
}